@use "../abstracts";

.main-about {
    margin-top: 8.2rem;

    @include abstracts.screen(lg) {
        margin-top: 7.6rem;
    }
}

.agency {
    padding: 12rem 0 9rem;

    @include abstracts.screen(xxl) {
        padding-top: 4rem;
    }

    @include abstracts.screen(lg) {
        padding-bottom: 13rem;
    }

    @include abstracts.screen(md) {
        padding-top: 2rem;
    }

    @include abstracts.screen(sm) {
        padding-bottom: 4rem;
    }

    &__body {
        display: flex;
        align-items: center;
        column-gap: 16.6rem;

        @include abstracts.screen(xl) {
            column-gap: 10rem;
        }

        @include abstracts.screen(lg) {
            flex-direction: column;
            row-gap: 15rem;
            align-items: flex-start;
        }

        @include abstracts.screen(sm) {
            row-gap: 3rem;
        }
    }

    &__left {
        width: 46%;

        @include abstracts.screen(xl) {
            width: 50%;
        }

        @include abstracts.screen(lg) {
            width: 80%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__left-heading {
        text-align: initial;
    }

    &__left-desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2.1rem;
    }

    &__left-quality {
        position: relative;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.1rem;

        margin-top: 3rem;
        padding-bottom: 2rem;

        &::before,
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;

            border-radius: 0.2rem;
        }

        &::before {
            left: 0;

            width: 90%;
            height: 0.5rem;
            background-color: #434a54;
        }

        &::after {
            right: 0;

            width: 10%;
            height: 0.5rem;
            background-color: #f1f1f1;
        }
    }

    &__left-btn {
        margin-top: 4rem;
    }

    &__right {
        flex-shrink: 0;

        padding-right: 4.92rem;
        position: relative;

        @include abstracts.screen(xl) {
            flex-shrink: 1;
        }

        @include abstracts.screen(lg) {
            width: 100%;

            margin-left: auto;
            margin-right: auto;
            padding-left: 1.92rem;
        }

        @include abstracts.screen(sm) {
            padding: 0;
        }
    }

    &__right-img {
        display: block;
        width: 100%;
        height: 36rem;
        object-fit: cover;

        border-radius: 1.5rem;
    }

    &__right-decor {
        position: absolute;

        display: inline-block;

        border-radius: 1.5rem;
        object-fit: cover;

        @include abstracts.screen(sm) {
            display: none;
        }
    }

    &__right-decor--one,
    &__right-decor--three {
        width: 13rem;
        height: 8rem;
    }

    &__right-decor--one {
        top: -10.2rem;
        left: 12.7rem;

        @include abstracts.screen(xl) {
            left: 7rem;
        }
    }

    &__right-decor--two {
        z-index: -1;

        width: 20rem;
        height: 13rem;

        top: -4.48rem;
        right: 0;
    }

    &__right-decor--three {
        bottom: -1.5rem;
        right: 0;
    }

    &__right-decor--four {
        width: 15rem;
        height: 15rem;

        left: -1.92rem;
        bottom: -8.6rem;

        @include abstracts.screen(lg) {
            left: 0;
        }
    }
}

.perfect {
    &--about {
        padding: 12rem 0;
        background: #f2f2f2;

        @include abstracts.screen(lg) {
            padding: 4rem 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            flex-direction: column;
            row-gap: 3rem;
        }
    }

    &__heading {
        text-align: initial;
        width: 35%;

        @include abstracts.screen(xxl) {
            width: 50%;
        }

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__desc {
        width: 45%;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;

        @include abstracts.screen(lg) {
            width: 80%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__highlight {
        text-decoration: underline;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 3.34rem;

        margin-top: 7rem;

        @include abstracts.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include abstracts.screen(md) {
            grid-template-columns: 1fr;

            margin-top: 4rem;
        }
    }

    &__img {
        display: inline-block;

        width: 8rem;
        height: 8rem;
        object-fit: cover;
    }

    &__title {
        display: block;

        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;

        margin-top: 2rem;
    }

    &__text {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(md) {
            width: 80%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }
}

.customer {
    padding: 12rem 0;

    @include abstracts.screen(lg) {
        padding: 4rem 0;
    }

    &__heading {
        margin-bottom: 7rem;

        @include abstracts.screen(lg) {
            margin-bottom: 3rem;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        @include abstracts.screen(md) {
            gap: 1.5rem;
        }
    }

    &__item {
        width: 47%;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__item:nth-child(2) {
        @include abstracts.screen(lg) {
            order: 4;
        }
    }

    &__media {
        width: 100%;
        height: 45rem;
    }

    &__media-img {
        display: block;

        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    &__inner {
        padding: 5.35rem 0 0 3.56rem;

        @include abstracts.screen(xxl) {
            padding-top: 0;
        }

        @include abstracts.screen(lg) {
            padding-left: 0;
        }
    }

    &__inner-desc {
        font-size: 3rem;
        font-weight: 400;
        line-height: 150%;

        @include abstracts.screen(xl) {
            font-size: 2.6rem;
        }
    }

    &__inner-group {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        margin-top: 2.5rem;
    }

    &__inner-avatar {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }

    &__inner-title {
        display: block;

        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__inner-text {
        color: #6e6e6e;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__rotages {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.2rem;

        margin-top: 2.15rem;
    }

    &__rotage {
        width: 0.7rem;
        height: 0.7rem;

        border-radius: 0.35rem;
        background: #000;
    }

    &__rotage--active {
        background: #1bbc9b;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @include abstracts.screen(md) {
            gap: 1.5rem;
        }

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
    }

    &__thumbs {
        width: 100%;
        height: 21rem;
        overflow: hidden;
    }

    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
    }
}

.vocation-about {
    padding: 12rem 0;
    background: #f2f2f2;

    @include abstracts.screen(lg) {
        padding: 4rem 0;
    }

    &__row {
        display: flex;
        column-gap: 11.5rem;

        @include abstracts.screen(xl) {
            column-gap: 6rem;
        }

        @include abstracts.screen(lg) {
            flex-wrap: wrap;
            gap: 3rem;
        }
    }

    &__media {
        width: 40rem;

        @include abstracts.screen(lg) {
            order: 2;
            width: 100%;
        }
    }

    &__content {
        flex: 1;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__heading {
        text-align: initial;

        @include abstracts.screen(lg) {
            text-align: center;
        }
    }

    &__wrap {
        padding-top: 4rem;
    }

    &__wrap {
        @include abstracts.screen(xl) {
            padding-top: 2rem;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2rem 0 3rem;
    }

    &__group + &__group {
        border-top: 0.1rem solid #ccc;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__money {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 130%;

        @include abstracts.screen(md) {
            font-size: 2.8rem;
        }
    }

    &__time {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 325%;
    }

    &__inline {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-right: 5rem;

        @include abstracts.screen(xl) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 3rem;
        }
    }

    &__heading-lv3 {
        text-align: initial;

        width: 35rem;

        @include abstracts.screen(xl) {
            width: 100%;
        }
    }

    &__btn {
        display: inline-block;

        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;

        word-wrap: nowrap;
    }
}
