@use "../abstracts";

.main-archive {
    margin-top: 8.2rem;
    padding: 4rem 0;

    @include abstracts.screen(lg) {
        padding: 4rem 0;
    }

    @include abstracts.screen(md) {
        padding: 2rem 0;
    }
}
