@use "../abstracts";
.main-blog {
    margin-top: 8.2rem;

    @include abstracts.screen(lg) {
        margin-top: 7.6rem;
    }
}

.blogs {
    padding: 8rem 0;

    @include abstracts.screen(lg) {
        padding: 4rem 0;
    }

    &__heading {
        margin-bottom: 6rem;

        @include abstracts.screen(lg) {
            margin-bottom: 3rem;
        }
    }

    &__location {
        display: flex;
        flex-direction: column;

        height: 100%;

        cursor: pointer;
    }

    &__media {
        flex-shrink: 0;

        width: 100%;
        height: 44rem;
    }

    &__media-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;

        height: 100%;

        padding: 2rem 1.4rem 0 0;
    }

    &__content-intro {
        display: inline-block;

        color: #fff;

        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 100%;

        padding: 0.5rem 1.5rem;

        border-radius: 0.5rem;
        background: #434a54;

        width: 12rem;
    }

    &__content-heading {
        display: block;

        font-size: 2.5rem;
        font-weight: 700;
        line-height: 150%;

        margin-top: 2rem;
    }

    &__content-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(lg) {
            margin-top: auto;
        }
    }

    &__btn {
        margin-top: 2rem;

        width: 14rem;
        max-width: 100%;
    }
}
