@use "../abstracts";

// ? Banner
.destination-banner {
    margin-top: 10.2rem;

    @include abstracts.screen(md) {
        margin-top: 8.2rem;
    }

    &__imgs {
        position: relative;
        width: 100%;

        padding-top: 41.13636%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 1rem;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        z-index: 2;

        opacity: 0.5;
        background: linear-gradient(180deg, #000 50%, rgba(0, 0, 0, 0) 100%);

        border-radius: 1rem;
    }
}

// ? discover-destination
.discover-destination {
    &__inline {
        position: relative;
    }

    &__top {
        position: absolute;
        z-index: 2;
        top: -6.9rem;
        left: 50%;
        width: 90%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 1.5rem;
        background: #fff;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 4rem;

        transform: translateX(-50%);

        @include abstracts.screen(lg) {
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem;
        }
    }

    &__col {
        display: flex;
        align-items: center;

        gap: 3rem;

        @include abstracts.screen(xl) {
            gap: 1rem;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 2.5rem;
        background: #1bbc9b;

        width: 5rem;
        height: 5rem;
    }

    &__text {
        display: block;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.1rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;

        margin-top: 0.5rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        column-gap: 10rem;

        padding-top: 18.7rem;

        @include abstracts.screen(xl) {
            gap: 6rem;
        }

        @include abstracts.screen(lg) {
            flex-wrap: wrap;
            row-gap: 12rem;
        }

        @include abstracts.screen(md) {
            padding-top: 12.7rem;
            row-gap: 3rem;
        }

        @include abstracts.screen(sm) {
            padding-top: 18.7rem;
        }
    }

    &__media,
    &__info {
        width: 50%;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__media {
        display: flex;
        gap: 3rem;

        @include abstracts.screen(xl) {
            gap: 2rem;
        }

        @include abstracts.screen(md) {
            flex-wrap: wrap;

            order: 2;
            gap: 1.5rem;
        }
    }

    &__picture {
        position: relative;
        z-index: 3;

        width: 50%;
        height: 45rem;
        object-fit: cover;
        border-radius: 1.5rem;

        @include abstracts.screen(lg) {
            width: 48%;
        }

        @include abstracts.screen(md) {
            width: 100%;
        }
    }

    &__picture--left {
        transform: translateY(14rem);

        @include abstracts.screen(xxl) {
            transform: translateY(15rem);
        }

        @include abstracts.screen(lg) {
            transform: translateY(9rem);
        }
    }

    &__picture--right {
        transform: translateY(-14rem);

        @include abstracts.screen(xxl) {
            transform: translateY(-15rem);
        }

        @include abstracts.screen(xl) {
            transform: translateY(-18rem);
        }

        @include abstracts.screen(lg) {
            transform: translateY(-9rem);
        }
    }

    &__picture--left,
    &__picture--right {
        @include abstracts.screen(md) {
            transform: none !important;
        }
    }

    &__heading {
        text-align: initial;

        @include abstracts.screen(lg) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    &__desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;
    }

    &__quality {
        position: relative;

        color: #17262f;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 250%;

        margin-top: 2rem;

        &::after {
            content: "";
            display: inline-block;

            position: absolute;
            bottom: 0;
            left: 0;

            border-radius: 0.2rem;
            background: #434a54;
        }
    }

    &__quality--top {
        &::after {
            width: 80%;
            height: 0.4rem;
        }
    }

    &__quality--center {
        &::after {
            width: 55%;
            height: 0.4rem;
        }
    }

    &__quality--bottom {
        &::after {
            width: 90%;
            height: 0.4rem;
        }
    }

    &__btn {
        margin-top: 4rem;
    }
}

// ? packages-destination
.package-destination {
    padding: 0;
    margin: 18rem 0 8rem;

    @include abstracts.screen(lg) {
        margin-top: 8rem;
    }

    @include abstracts.screen(sm) {
        margin-top: 4rem;
    }
}
