@use "../abstracts";

.hero-detail {
    margin-top: 8.2rem;

    @include abstracts.screen(md) {
        margin-top: 7.6rem;
    }

    &__slip {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    &__block {
        padding: 6rem 0;
    }

    &__img {
        display: inline-block;

        width: 42rem;
        height: 28rem;
        object-fit: cover;

        margin: 0 1rem;

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    &__content {
        display: flex;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-wrap: wrap;
            gap: 3rem;
        }
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 130%;

        @include abstracts.screen(lg) {
            font-size: 3rem;
        }
    }

    &__inline {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;

        margin-top: 1.2rem;
    }

    &__desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 9rem;

        margin-left: auto;

        @include abstracts.screen(xl) {
            column-gap: 5rem;
        }

        @include abstracts.screen(lg) {
            margin-left: 0;
        }

        @include abstracts.screen(md) {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;

            gap: 3rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        gap: 3rem;

        @include abstracts.screen(md) {
            gap: 1rem;
        }
    }

    &__thumb {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.1rem;
    }
}

.detail {
    // Content left
    &__left {
        padding-right: 2rem;

        @include abstracts.screen(lg) {
            padding-right: 0;
        }
    }

    &__left-wrap {
        padding: 6rem 0;

        @include abstracts.screen(md) {
            padding: 2rem 0;
        }
    }

    &__left-wrap + &__left-wrap {
        border-top: 0.1rem solid #e4e4e4;
    }

    &__left-wrap:first-child {
        padding-top: 0;
    }

    &__left-wrap:last-child {
        padding-bottom: 0;
    }

    &__left-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__left-desc,
    &__left-highlight {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__left-mt {
        margin-top: 1.95rem;
    }

    &__left-highlight {
        text-decoration-line: underline;
    }

    &__left-inline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem 11rem;

        margin-top: 4.15rem;

        @include abstracts.screen(sm) {
            grid-template-columns: 1fr;
        }
    }

    &__left-item {
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }

    &__left-icon {
        width: 1.6rem;
        height: 1.2rem;
        object-fit: contain;
    }

    &__left-map {
        width: 100%;
        height: 45rem;

        border-radius: 1.5rem;
    }

    &__left-list {
        margin-top: 2rem;
    }

    &__left-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 3.15rem 0;
    }

    &__left-inner + &__left-inner {
        border-top: 0.1rem solid #e4e4e4;
    }

    &__left-text {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
    }

    &__left-time {
        color: #1bbc9b;
    }

    &__left-thumb {
        width: 100%;
        height: 17.5rem;
        object-fit: cover;

        border-radius: 1rem;

        @include abstracts.screen(md) {
            height: 35.8rem;
        }
    }

    &__right {
        padding: 4rem;
        border-radius: 1.5rem;
        background: #fff;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

        @include abstracts.screen(xl) {
            padding: 2rem;
        }
    }
}

.package-detail {
    padding: 12rem 0;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__heading {
        font-size: 5rem;
        font-weight: 700;
        line-height: 120%;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    // ? Card
    &__card-heading {
        margin-top: 0;
    }
}
