@use "../abstracts";

.hero-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    &__video {
        object-fit: cover;
    }
}

.location {
    &--home {
        padding-top: 6.5rem;
        background-color: #fff;

        padding-bottom: 3.5rem;
    }

    &__info {
        width: 64rem;

        @include abstracts.screen(md) {
            width: 100%;
        }

        &-desc {
            color: #6e6e6e;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
            margin-top: 2rem;

            @include abstracts.screen(md) {
                width: 80%;
            }
        }

        &-btn {
            margin-top: 2rem;
            padding: 1.5rem 3rem;

            font-size: 1.4rem;
            font-weight: 700;
            line-height: 100%;
        }
    }

    &__city {
        margin-top: 7rem;

        @include abstracts.screen(lg) {
            margin-top: 4rem;
        }

        @include abstracts.screen(md) {
            margin-top: 3rem;
        }
    }

    &__city-item {
        position: relative;
        cursor: pointer;
    }

    &__city-bg {
        width: 100%;
    }

    &__city-decor {
        position: absolute;
        left: 3rem;
        top: 2rem;

        @include abstracts.screen(xl) {
            top: 0;
            left: 1rem;
        }

        @include abstracts.screen(lg) {
            top: 2rem;
            left: 3rem;
        }
    }
}

.vocation {
    margin-top: 10rem;
    background: #f2f2f2;
    padding: 12rem 0;

    @include abstracts.screen(md) {
        margin-top: 3rem;
        padding: 7rem 0;
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 130%;
        text-align: center;

        @include abstracts.screen(md) {
            font-size: 3rem;
        }
    }

    &__desc {
        width: 77rem;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        margin-top: 2rem;
        padding: 2rem 3rem;

        border-radius: 1.5rem;
        background: #fff;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            margin-top: 4rem;
        }
    }

    &__item {
        flex: 1;

        display: flex;
        align-items: center;
        gap: 2.5rem;

        padding-left: 3rem;

        @include abstracts.screen(xl) {
            padding-left: 1rem;
        }

        @include abstracts.screen(lg) {
            padding-left: 0;
        }

        @include abstracts.screen(sm) {
            gap: 1.5rem;
        }
    }

    &__item + &__item {
        border-left: 0.2rem solid #f1f1f1;

        @include abstracts.screen(lg) {
            border-left: none;
        }
    }

    &__item:first-child {
        padding-left: 0;
    }

    &__item:last-child {
        border-left: none;

        @include abstracts.screen(sm) {
            grid-column-start: -3;
            grid-column-end: -1;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
    }

    &__text {
        color: #757575;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 0.7rem;
    }

    &__btn {
        width: 100%;

        color: #fff;
        background: #f76570;
        border-color: #f76570;

        padding: 2rem 0;

        @include abstracts.screen(sm) {
            padding: 1.5rem;
        }
    }
}

.world {
    &__heading {
        width: 54rem;
        text-align: initial;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__desc {
        width: 64rem;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__media {
        position: relative;

        width: 100%;
        height: 40rem;

        transition: all 0.3s ease-in-out;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 1.5rem;
    }

    &__overlay {
        position: absolute;
        z-index: 1;
        inset: 0;

        border-radius: 1.5rem;
        opacity: 0.5;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    &__info {
        position: absolute;
        z-index: 2;
        bottom: 3.1rem;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__row {
        text-align: center;
        margin-top: 1rem;
    }

    &__row:hover &__media:not(:hover) {
        filter: blur(1rem);
    }

    &__icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(50deg) brightness(107%)
            contrast(101%);
    }

    &__location {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.unknown {
    padding: 12rem 0;
    background: #000;
    color: #fff;

    background-image: url("../../assets/imgs/home/unknown/unknown__bgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__wrap {
        display: flex;
        gap: 10rem;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            gap: 5rem;
        }
    }

    &__media {
        flex-shrink: 0;

        width: 47%;

        @include abstracts.screen(lg) {
            order: 2;

            width: 100%;
        }
    }

    &__body {
        width: 46%;

        @include abstracts.screen(lg) {
            order: 1;

            width: 100%;
        }
    }

    &__img {
        display: inline-block;
        width: 100%;
        height: 60rem;
        object-fit: cover;

        border-radius: 1rem;
    }

    &__title {
        text-align: initial;
    }

    &__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        margin-top: 2rem;
    }

    &__list {
        margin-top: 2.2rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.85rem;

        padding: 2rem 0;
    }

    &__item + &__item {
        border-top: 0.1rem solid rgba(255, 255, 255, 0.18);
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__btn {
        margin-top: 2.1rem;
        border-color: #fff;
    }
}

.packages {
    padding: 12rem 0;
    text-align: center;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__desc {
        width: 79rem;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__list {
        margin-top: 6rem;

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__card {
        padding: 7rem 5rem;
        border-radius: 1.5rem;
        background: #f2f2f2;
        height: 100%;

        text-align: center;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-2rem);
        }

        @include abstracts.screen(lg) {
            padding: 3rem 1rem;
        }

        @include abstracts.screen(md) {
            padding: 3rem;
        }
    }

    &__card-intro {
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;

        @include abstracts.screen(xl) {
            white-space: nowrap;
        }

        @include abstracts.screen(lg) {
            font-size: 1.7rem;
        }
    }

    &__card-price {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40%;

        margin-top: 7rem;
        margin-bottom: 4.1rem;

        @include abstracts.screen(lg) {
            margin-top: 5rem;
        }
    }

    &__card-highlight {
        font-size: 8rem;
        font-weight: 700;
        line-height: 10%;

        @include abstracts.screen(xl) {
            font-size: 6rem;
        }

        @include abstracts.screen(md) {
            font-size: 5rem;
        }
    }

    &__card-content {
    }

    &__card-desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__card-desc + &__card-desc {
        margin-top: 2rem;
    }

    &__btn {
        margin-top: 3.1rem;
        margin-left: auto;
        margin-right: auto;

        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}

.experiences {
    padding: 12rem 0;

    background-image: url("../../assets/imgs/home/experience/experience__bgr.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 46%;

        @include abstracts.screen(xl) {
            width: 60%;
        }

        @include abstracts.screen(lg) {
            width: 71%;
        }

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__heading {
        text-align: initial;
    }

    &__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(sm) {
            width: 85%;
        }
    }

    &__media {
        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__media {
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        margin-top: 9rem;

        @include abstracts.screen(md) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;

            margin-top: 3rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        padding: 5rem 5rem 5.7rem 5rem;

        border-radius: 1.5rem;
        background: #1bbc9b;

        cursor: pointer;

        @include abstracts.screen(lg) {
            padding: 4rem;
        }

        @include abstracts.screen(lg) {
            padding: 2rem;
        }
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 150%;

        padding-bottom: 2.5rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__inline {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: auto;
    }

    &__img {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__info-title {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__info-desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 50%;

        margin-top: 0.5rem;
    }
}

.discover {
    padding: 12rem 0;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 15rem;

        @include abstracts.screen(xl) {
            gap: 9rem;
        }

        @include abstracts.screen(lg) {
            flex-direction: column;
            gap: 4rem;
        }

        @include abstracts.screen(lg) {
            gap: 3rem;
        }
    }

    &__info {
        width: 46.21212%;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__heading {
        color: #000;
        font-size: 5rem;
        font-weight: 700;
        line-height: 120%;

        @include abstracts.screen(lg) {
            font-size: 3rem;
        }
    }

    &__desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;
    }

    &__group {
        position: relative;
        padding: 2rem 0 3rem;
    }

    &__group--one,
    &__group--two {
        &::before,
        &::after {
            content: "";
            display: inline-block;
            height: 0.5rem;

            position: absolute;
            bottom: 0;
        }

        &::before {
            left: 0;

            background: #434a54;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        &::after {
            right: 0;

            background-color: #f1f1f1;
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }
    }

    &__group--one {
        &::before {
            width: 90%;
        }

        &::after {
            width: 10%;
        }
    }

    &__group--two {
        &::before {
            width: 80%;
        }

        &::after {
            width: 20%;
        }
    }

    &__btn {
        margin-top: 4rem;
    }

    &__media {
        flex-shrink: 0;

        height: 50rem;

        @include abstracts.screen(xl) {
            width: 46.21212%;
            height: 50rem;
            overflow: hidden;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            height: 50rem;
        }

        @include abstracts.screen(md) {
            width: 100%;
            height: initial;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include abstracts.screen(xl) {
            display: block;
            width: initial;
            height: 100%;
            object-fit: none;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include abstracts.screen(md) {
            width: 100%;
            object-fit: contain;
        }
    }
}

.blog {
    padding: 0 0 12rem;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__desc {
        color: #6e6e6e;
        text-align: center;

        width: 78rem;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__row {
        display: flex;
        gap: 5rem;

        margin-top: 6rem;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(lg) {
            margin-top: 3rem;
        }
    }

    &__media {
        width: 64rem;

        @include abstracts.screen(xl) {
            width: 100%;
        }
    }

    &__media-wrap {
        width: 100%;
    }

    &__media-img {
        width: 100%;
        height: 43rem;
        border-radius: 1.5rem;
        object-fit: cover;

        @include abstracts.screen(xl) {
            border-radius: 1rem;
        }
    }

    &__media-caption {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;

        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background: #434a54;

        margin-top: 2.1rem;
    }

    &__media-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 150%;

        margin-top: 2rem;
    }

    &__media-desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(xl) {
            width: 60%;
        }

        @include abstracts.screen(lg) {
            width: 80%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__btn {
        margin-top: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;

        gap: 3.5rem;

        @include abstracts.screen(xl) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }

        @include abstracts.screen(lg) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;
        }

        @include abstracts.screen(md) {
            gap: 1.5rem;
        }
    }

    &__content-link {
        height: 100%;
    }

    &__content-inner {
        display: flex;
        align-items: center;

        gap: 3rem;

        @include abstracts.screen(md) {
            gap: 1.5rem;
        }
    }

    &__content-img {
        width: 21rem;
        height: 100%;
        object-fit: cover;

        border-radius: 1rem;

        @include abstracts.screen(xxl) {
            border-radius: 1rem;
        }

        @include abstracts.screen(sm) {
            width: 12rem;
        }
    }

    &__content-time {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background: #1bbc9b;

        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;

        @include abstracts.screen(sm) {
            display: none;
        }
    }

    &__content-title {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;

        margin-top: 2.5rem;

        @include abstracts.screen(xxl) {
            margin-top: 1rem;
        }

        @include abstracts.screen(sm) {
            margin-top: 0;
            font-size: 1.8rem;
        }
    }

    &__content-desc {
        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(xxl) {
            margin-top: 1rem;
        }
    }
}
