@use "../abstracts";

.hero-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    &__video {
        object-fit: cover;
    }
}

.location {
    &--home {
        padding-top: 6.5rem;
        background-color: #fff;

        padding-bottom: 3.5rem;
    }

    &__info {
        width: 64rem;

        @include abstracts.screen(md) {
            width: 100%;
        }

        &-heading {
            font-size: 5rem;
            font-weight: 700;
            line-height: 120%;

            @include abstracts.screen(md) {
                font-size: 4rem;
            }
        }

        &-desc {
            color: #6e6e6e;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
            margin-top: 2rem;

            @include abstracts.screen(md) {
                width: 80%;
            }
        }

        &-btn {
            margin-top: 2rem;
            padding: 1.5rem 3rem;

            font-size: 1.4rem;
            font-weight: 700;
            line-height: 100%;
        }
    }

    &__city {
        margin-top: 7rem;

        @include abstracts.screen(lg) {
            margin-top: 4rem;
        }

        @include abstracts.screen(md) {
            margin-top: 3rem;
        }
    }

    &__city-item {
        position: relative;
        cursor: pointer;
    }

    &__city-bg {
        width: 100%;
    }

    &__city-decor {
        position: absolute;
        left: 3rem;
        top: 2rem;

        @include abstracts.screen(xl) {
            top: 0;
            left: 1rem;
        }

        @include abstracts.screen(lg) {
            top: 2rem;
            left: 3rem;
        }
    }
}

.vocation {
    margin-top: 10rem;
    background: #f2f2f2;
    padding: 12rem 0;

    @include abstracts.screen(md) {
        margin-top: 3rem;
        padding: 7rem 0;
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 130%;
        text-align: center;

        @include abstracts.screen(sm) {
            font-size: 2.5rem;
        }
    }

    &__desc {
        width: 77rem;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        margin-top: 2rem;
        padding: 2rem 3rem;

        border-radius: 1.5rem;
        background: #fff;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            margin-top: 4rem;
        }
    }

    &__item {
        flex: 1;

        display: flex;
        align-items: center;
        gap: 2.5rem;

        padding-left: 3rem;

        @include abstracts.screen(xl) {
            padding-left: 1rem;
        }

        @include abstracts.screen(lg) {
            padding-left: 0;
        }

        @include abstracts.screen(sm) {
            gap: 1.5rem;
        }
    }

    &__item + &__item {
        border-left: 0.2rem solid #f1f1f1;

        @include abstracts.screen(lg) {
            border-left: none;
        }
    }

    &__item:first-child {
        padding-left: 0;
    }

    &__item:last-child {
        border-left: none;

        @include abstracts.screen(sm) {
            grid-column-start: -3;
            grid-column-end: -1;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
    }

    &__text {
        color: #757575;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 0.7rem;
    }

    &__btn {
        width: 100%;

        color: #fff;
        background: #f76570;
        border-color: #f76570;

        padding: 2rem 0;

        @include abstracts.screen(sm) {
            padding: 1.5rem;
        }
    }
}

.world {
    padding: 12rem 0;

    @include abstracts.screen(md) {
        padding: 5rem 0;
    }

    &__heading {
        width: 54rem;

        font-size: 5rem;
        font-weight: 700;
        line-height: 120%;

        @include abstracts.screen(lg) {
            width: 100%;
            font-size: 4rem;
        }
    }

    &__desc {
        width: 64rem;

        color: #6e6e6e;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 2rem;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__row {
        margin-top: 7rem;

        @include abstracts.screen(xl) {
            margin-top: 3rem;
        }

        @include abstracts.screen(md) {
            margin-top: 1rem;
        }
    }

    &__item {
        width: 100%;
        height: 100%;

        cursor: pointer;

        transition: all 0.4s ease-in-out;
    }

    &__item-bgr {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__row:hover &__item:not(:hover) {
        filter: blur(1rem);
    }
}

.unknown {
    padding: 12rem 0;
    background: #000;
    color: #fff;

    background-image: url("../../assets/imgs/unknown/unknown__bgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__wrap {
        display: flex;
        gap: 10rem;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            gap: 5rem;
        }
    }

    &__media {
        flex-shrink: 0;

        width: 47%;

        @include abstracts.screen(lg) {
            order: 2;

            width: 100%;
        }
    }

    &__body {
        width: 46%;

        @include abstracts.screen(lg) {
            order: 1;

            width: 100%;
        }
    }

    &__img {
        display: inline-block;
        width: 100%;
        height: 60rem;
        object-fit: cover;

        border-radius: 1rem;
    }

    &__title {
        font-size: 5rem;
        font-weight: 700;
        line-height: 120%;

        @include abstracts.screen(xl) {
            font-size: 4rem;
        }

        @include abstracts.screen(sm) {
            font-size: 3rem;
        }
    }

    &__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        margin-top: 2rem;
    }

    &__list {
        margin-top: 2.2rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.85rem;

        padding: 2rem 0;
    }

    &__item + &__item {
        border-top: 0.1rem solid rgba(255, 255, 255, 0.18);
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__btn {
        margin-top: 2.1rem;
        border-color: #fff;
    }
}
