/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #000;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  user-select: none;
}

span {
  user-select: none;
}

button,
select,
textarea,
input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1320px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .logo__link {
    width: 13rem;
    margin-top: 0.4rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 100%;
  padding: 1.5rem 3rem;
}
.btn--primary {
  border-radius: 0.5rem;
  border: 0.1rem solid #000;
  transition: all 0.3s ease-in-out;
}
.btn--primary:hover {
  background: #1bbc9b;
  border-color: #1bbc9b;
  color: #fff;
}

.card--home {
  margin-top: 10.5rem;
}
@media (max-width: 991.98px) {
  .card--home {
    margin-top: 4.5rem;
  }
}
@media (max-width: 767.98px) {
  .card--home {
    margin-top: 2.5rem;
  }
}
.card__capital-inner:hover .card__location:not(:hover) {
  filter: blur(1rem);
}
.card__location {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.card__media {
  display: flex;
  position: relative;
  width: 100%;
}
.card__media-img {
  width: 100%;
  object-fit: contain;
}
.card__media-text {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background: #14b9d5;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.1rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.card__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.card__content-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.card__content-title {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.card__content-separate {
  width: 100%;
  height: 0.1rem;
  background: #e4e4e4;
  margin: 2rem 0;
}
@media (max-width: 1199.98px) {
  .card__content-separate--bottom {
    margin-top: auto;
  }
}
@media (max-width: 991.98px) {
  .card__content-separate--bottom {
    margin-top: 2rem;
  }
}
.card__content-desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.card__content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .card__content-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1199.98px) {
  .card__content-btn {
    order: 2;
    width: 100%;
    margin-top: 1rem;
  }
}
.card__content-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1199.98px) {
  .card__content-price {
    order: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
.card__content-text {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1rem;
}
.card__content-total {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
}
.card__content-sale {
  position: relative;
  color: #000;
  opacity: 0.4;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
}
.card__content-sale::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0.3rem;
  background-color: #000;
  opacity: 0.3;
}

.header {
  position: fixed;
  top: -0.5rem;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 1.8rem 0;
  background: transparent;
  backdrop-filter: blur(1rem);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .navbar__list {
    display: none;
  }
}
.navbar__item:hover > * {
  color: #1bbc9b;
}
.navbar__link {
  padding: 1rem 3.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 125%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199.98px) {
  .navbar__link {
    padding: 1rem 2.5rem;
  }
}
@media (max-width: 991.98px) {
  .navbar__btn {
    padding: 1.2rem 1.4rem;
  }
}
.navbar__more {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__more {
    display: block;
  }
}

.footer {
  background: url("../../assets/imgs/footer/footer__bgr.jpg");
  background-repeat: no-repeat;
  background-position-y: 70%;
  padding: 12rem 0 16rem;
}
@media (max-width: 991.98px) {
  .footer {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 4rem 0;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 5rem;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
.footer__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  width: 50rem;
}
@media (max-width: 1199.98px) {
  .footer__heading {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .footer__heading {
    font-size: 3rem;
  }
}
.footer__item + .footer__item {
  margin-top: 2rem;
}
.footer__link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer__link--title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social-item:first-child {
  margin-left: -1rem;
}
.footer__social-link {
  padding: 0 1rem;
}
.footer__contact-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer__contact-link--email {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #1bbc9b;
  padding: 1.5rem 3rem;
}
.footer__contact-link--phone {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.footer__contact-link--title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.hero-home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-home__background {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.hero-home__video {
  object-fit: cover;
}

.location--home {
  padding-top: 6.5rem;
  background-color: #fff;
  padding-bottom: 3.5rem;
}
.location__info {
  width: 64rem;
}
@media (max-width: 767.98px) {
  .location__info {
    width: 100%;
  }
}
.location__info-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 767.98px) {
  .location__info-heading {
    font-size: 4rem;
  }
}
.location__info-desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
@media (max-width: 767.98px) {
  .location__info-desc {
    width: 80%;
  }
}
.location__info-btn {
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 100%;
}
.location__city {
  margin-top: 7rem;
}
@media (max-width: 991.98px) {
  .location__city {
    margin-top: 4rem;
  }
}
@media (max-width: 767.98px) {
  .location__city {
    margin-top: 3rem;
  }
}
.location__city-item {
  position: relative;
  cursor: pointer;
}
.location__city-bg {
  width: 100%;
}
.location__city-decor {
  position: absolute;
  left: 3rem;
  top: 2rem;
}
@media (max-width: 1199.98px) {
  .location__city-decor {
    top: 0;
    left: 1rem;
  }
}
@media (max-width: 991.98px) {
  .location__city-decor {
    top: 2rem;
    left: 3rem;
  }
}

.vocation {
  margin-top: 10rem;
  background: #f2f2f2;
  padding: 12rem 0;
}
@media (max-width: 767.98px) {
  .vocation {
    margin-top: 3rem;
    padding: 7rem 0;
  }
}
.vocation__heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}
@media (max-width: 767.98px) {
  .vocation__heading {
    font-size: 3rem;
  }
}
.vocation__desc {
  width: 77rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media (max-width: 991.98px) {
  .vocation__desc {
    width: 100%;
  }
}
.vocation__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
  .vocation__row {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    margin-top: 4rem;
  }
}
.vocation__item {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-left: 3rem;
}
@media (max-width: 1199.98px) {
  .vocation__item {
    padding-left: 1rem;
  }
}
@media (max-width: 991.98px) {
  .vocation__item {
    padding-left: 0;
  }
}
@media (max-width: 575.98px) {
  .vocation__item {
    gap: 1.5rem;
  }
}
.vocation__item + .vocation__item {
  border-left: 0.2rem solid #f1f1f1;
}
@media (max-width: 991.98px) {
  .vocation__item + .vocation__item {
    border-left: none;
  }
}
.vocation__item:first-child {
  padding-left: 0;
}
.vocation__item:last-child {
  border-left: none;
}
@media (max-width: 575.98px) {
  .vocation__item:last-child {
    grid-column-start: -3;
    grid-column-end: -1;
  }
}
.vocation__title {
  font-style: normal;
  font-weight: 700;
}
.vocation__text {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.7rem;
}
.vocation__btn {
  width: 100%;
  color: #fff;
  background: #f76570;
  border-color: #f76570;
  padding: 2rem 0;
}
@media (max-width: 575.98px) {
  .vocation__btn {
    padding: 1.5rem;
  }
}

.world {
  padding: 12rem 0;
}
@media (max-width: 767.98px) {
  .world {
    padding: 5rem 0;
  }
}
.world__heading {
  width: 54rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .world__heading {
    width: 100%;
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  .world__heading {
    font-size: 3rem;
  }
}
.world__desc {
  width: 64rem;
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
@media (max-width: 991.98px) {
  .world__desc {
    width: 100%;
  }
}
.world__row {
  margin-top: 7rem;
}
@media (max-width: 1199.98px) {
  .world__row {
    margin-top: 3rem;
  }
}
@media (max-width: 767.98px) {
  .world__row {
    margin-top: 1rem;
  }
}
.world__item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.world__item-bgr {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.world__row:hover .world__item:not(:hover) {
  filter: blur(1rem);
}

.unknown {
  padding: 12rem 0;
  background: #000;
  color: #fff;
  background-image: url("../../assets/imgs/unknown/unknown__bgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .unknown {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .unknown {
    padding: 4rem 0;
  }
}
.unknown__wrap {
  display: flex;
  gap: 10rem;
  align-items: center;
}
@media (max-width: 991.98px) {
  .unknown__wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
}
.unknown__media {
  flex-shrink: 0;
  width: 47%;
}
@media (max-width: 991.98px) {
  .unknown__media {
    order: 2;
    width: 100%;
  }
}
.unknown__body {
  width: 46%;
}
@media (max-width: 991.98px) {
  .unknown__body {
    order: 1;
    width: 100%;
  }
}
.unknown__img {
  display: inline-block;
  width: 100%;
  height: 60rem;
  object-fit: cover;
  border-radius: 1rem;
}
.unknown__title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1199.98px) {
  .unknown__title {
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  .unknown__title {
    font-size: 3rem;
  }
}
.unknown__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
.unknown__list {
  margin-top: 2.2rem;
}
.unknown__item {
  display: flex;
  align-items: center;
  gap: 1.85rem;
  padding: 2rem 0;
}
.unknown__item + .unknown__item {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.18);
}
.unknown__text {
  font-size: 1.6rem;
  font-weight: 400;
}
.unknown__btn {
  margin-top: 2.1rem;
  border-color: #fff;
}

.packages {
  padding: 12rem 0;
  text-align: center;
}
@media (max-width: 991.98px) {
  .packages {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .packages {
    padding: 4rem 0;
  }
}
.packages__heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 767.98px) {
  .packages__heading {
    font-size: 3rem;
  }
}
.packages__desc {
  width: 79rem;
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991.98px) {
  .packages__desc {
    width: 100%;
  }
}
.packages__list {
  margin-top: 6rem;
}
@media (max-width: 767.98px) {
  .packages__list {
    margin-top: 0;
  }
}
.packages__card {
  padding: 7rem 5rem;
  border-radius: 1.5rem;
  background: #f2f2f2;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.packages__card:hover {
  transform: translateY(-2rem);
}
@media (max-width: 991.98px) {
  .packages__card {
    padding: 3rem 1rem;
  }
}
@media (max-width: 767.98px) {
  .packages__card {
    padding: 3rem;
  }
}
.packages__card-intro {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 1199.98px) {
  .packages__card-intro {
    white-space: nowrap;
  }
}
@media (max-width: 991.98px) {
  .packages__card-intro {
    font-size: 1.7rem;
  }
}
.packages__card-price {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40%;
  margin-top: 7rem;
  margin-bottom: 4.1rem;
}
@media (max-width: 991.98px) {
  .packages__card-price {
    margin-top: 5rem;
  }
}
.packages__card-highlight {
  font-size: 8rem;
  font-weight: 700;
  line-height: 10%;
}
@media (max-width: 1199.98px) {
  .packages__card-highlight {
    font-size: 6rem;
  }
}
@media (max-width: 767.98px) {
  .packages__card-highlight {
    font-size: 5rem;
  }
}
.packages__card-desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
}
.packages__card-desc + .packages__card-desc {
  margin-top: 2rem;
}
.packages__btn {
  margin-top: 3.1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .packages__btn {
    width: 100%;
  }
}

.experiences {
  padding: 12rem 0;
  background-image: url("../../assets/imgs/experience/experience__bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media (max-width: 991.98px) {
  .experiences {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .experiences {
    padding: 4rem 0;
  }
}
.experiences__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experiences__content {
  width: 46%;
}
@media (max-width: 1199.98px) {
  .experiences__content {
    width: 60%;
  }
}
@media (max-width: 991.98px) {
  .experiences__content {
    width: 71%;
  }
}
@media (max-width: 991.98px) {
  .experiences__content {
    width: 100%;
  }
}
.experiences__heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .experiences__heading {
    font-size: 3rem;
  }
}
.experiences__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
@media (max-width: 575.98px) {
  .experiences__desc {
    width: 85%;
  }
}
@media (max-width: 767.98px) {
  .experiences__media {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .experiences__media {
    display: none;
  }
}
.experiences__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.experiences__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 9rem;
}
@media (max-width: 767.98px) {
  .experiences__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
  }
}
.experiences__item {
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 5.7rem 5rem;
  border-radius: 1.5rem;
  background: #1bbc9b;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .experiences__item {
    padding: 4rem;
  }
}
@media (max-width: 991.98px) {
  .experiences__item {
    padding: 2rem;
  }
}
.experiences__text {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 2.5rem;
}
@media (max-width: 767.98px) {
  .experiences__text {
    font-size: 1.6rem;
  }
}
.experiences__inline {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
}
.experiences__img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}
.experiences__info {
  display: flex;
  flex-direction: column;
}
.experiences__info-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}
.experiences__info-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 50%;
  margin-top: 0.5rem;
}

.discover {
  padding: 12rem 0;
}
@media (max-width: 991.98px) {
  .discover {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .discover {
    padding: 4rem 0;
  }
}
.discover__body {
  display: flex;
  align-items: center;
  gap: 15rem;
}
@media (max-width: 1199.98px) {
  .discover__body {
    gap: 9rem;
  }
}
@media (max-width: 991.98px) {
  .discover__body {
    flex-direction: column;
    gap: 4rem;
  }
}
@media (max-width: 991.98px) {
  .discover__body {
    gap: 3rem;
  }
}
.discover__info {
  width: 46.21212%;
}
@media (max-width: 991.98px) {
  .discover__info {
    width: 100%;
  }
}
.discover__heading {
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .discover__heading {
    font-size: 3rem;
  }
}
.discover__desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
.discover__group {
  position: relative;
  padding: 2rem 0 3rem;
}
.discover__group--one::before, .discover__group--one::after, .discover__group--two::before, .discover__group--two::after {
  content: "";
  display: inline-block;
  height: 0.5rem;
  position: absolute;
  bottom: 0;
}
.discover__group--one::before, .discover__group--two::before {
  left: 0;
  background: #434a54;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.discover__group--one::after, .discover__group--two::after {
  right: 0;
  background-color: #f1f1f1;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.discover__group--one::before {
  width: 90%;
}
.discover__group--one::after {
  width: 10%;
}
.discover__group--two::before {
  width: 80%;
}
.discover__group--two::after {
  width: 20%;
}
.discover__btn {
  margin-top: 4rem;
}
.discover__media {
  flex-shrink: 0;
  height: 50rem;
}
@media (max-width: 1199.98px) {
  .discover__media {
    width: 46.21212%;
    height: 50rem;
    overflow: hidden;
  }
}
@media (max-width: 991.98px) {
  .discover__media {
    width: 100%;
    height: 50rem;
  }
}
@media (max-width: 767.98px) {
  .discover__media {
    width: 100%;
    height: initial;
  }
}
.discover__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1199.98px) {
  .discover__img {
    display: block;
    width: initial;
    height: 100%;
    object-fit: none;
  }
}
@media (max-width: 991.98px) {
  .discover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767.98px) {
  .discover__img {
    width: 100%;
    object-fit: contain;
  }
}

.blog {
  padding: 0 0 12rem;
}
@media (max-width: 991.98px) {
  .blog {
    padding: 8rem 0;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding: 4rem 0;
  }
}
.blog__heading {
  color: #000;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .blog__heading {
    font-size: 3rem;
  }
}
.blog__desc {
  color: #6e6e6e;
  text-align: center;
  width: 78rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media (max-width: 991.98px) {
  .blog__desc {
    width: 100%;
  }
}
.blog__row {
  display: flex;
  gap: 5rem;
  margin-top: 6rem;
}
@media (max-width: 1199.98px) {
  .blog__row {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .blog__row {
    margin-top: 3rem;
  }
}
.blog__media {
  width: 64rem;
}
@media (max-width: 1199.98px) {
  .blog__media {
    width: 100%;
  }
}
.blog__media-wrap {
  width: 100%;
}
.blog__media-img {
  width: 100%;
  height: 43rem;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .blog__media-img {
    border-radius: 1rem;
  }
}
.blog__media-caption {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background: #434a54;
  margin-top: 2.1rem;
}
.blog__media-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
  margin-top: 2rem;
}
.blog__media-desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
@media (max-width: 1199.98px) {
  .blog__media-desc {
    width: 60%;
  }
}
@media (max-width: 991.98px) {
  .blog__media-desc {
    width: 80%;
  }
}
@media (max-width: 575.98px) {
  .blog__media-desc {
    width: 100%;
  }
}
.blog__btn {
  margin-top: 2rem;
}
.blog__content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
@media (max-width: 1199.98px) {
  .blog__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media (max-width: 991.98px) {
  .blog__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
@media (max-width: 767.98px) {
  .blog__content {
    gap: 1.5rem;
  }
}
.blog__content-link {
  height: 100%;
}
.blog__content-inner {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 767.98px) {
  .blog__content-inner {
    gap: 1.5rem;
  }
}
.blog__content-img {
  width: 21rem;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
@media (max-width: 1399.98px) {
  .blog__content-img {
    border-radius: 1rem;
  }
}
@media (max-width: 575.98px) {
  .blog__content-img {
    width: 12rem;
  }
}
.blog__content-time {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 575.98px) {
  .blog__content-time {
    display: none;
  }
}
.blog__content-title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  margin-top: 2.5rem;
}
@media (max-width: 1399.98px) {
  .blog__content-title {
    margin-top: 1rem;
  }
}
@media (max-width: 575.98px) {
  .blog__content-title {
    margin-top: 0;
    font-size: 1.8rem;
  }
}
.blog__content-desc {
  color: #6e6e6e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 2rem;
}
@media (max-width: 1399.98px) {
  .blog__content-desc {
    margin-top: 1rem;
  }
}

.hero-search {
  margin-top: 8.2rem;
  height: calc(100vh - 8.2rem);
  overflow-y: hidden;
}
.hero-search__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
