@use "../abstracts";

.footer {
    background: url("../../assets/imgs/footer/footer__bgr.jpg");
    background-repeat: no-repeat;
    background-position-y: 70%;

    padding: 12rem 0 16rem;

    @include abstracts.screen(lg) {
        padding: 8rem 0;
    }

    @include abstracts.screen(md) {
        padding: 4rem 0;
    }

    &__row {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 5rem;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        color: #fff;
        font-size: 5rem;
        font-weight: 700;
        line-height: 120%;

        width: 50rem;

        @include abstracts.screen(xl) {
            width: 100%;
        }

        @include abstracts.screen(md) {
            font-size: 3rem;
        }
    }

    &__item + &__item {
        margin-top: 2rem;
    }

    &__link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__link--title {
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__social-item:first-child {
        margin-left: -1rem;
    }

    &__social-link {
        padding: 0 1rem;
    }

    &__contact-link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__contact-link--email {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        border-radius: 0.5rem;
        background: #1bbc9b;

        padding: 1.5rem 3rem;
    }

    &__contact-link--phone {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__contact-link--title {
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
    }
}
