<div class="container">
    <nav class="navbar">
        <!-- Logo -->
        <a href="" class="logo">
            <img src="./assets/imgs/logo.svg" alt="" class="logo__link" />
        </a>

        <!-- Menu -->
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Travel</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Pages</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Shop</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Blog</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>
