<div class="container">
    <div class="footer__row row">
        <!-- Item 1 -->
        <div class="col-6">
            <h2 class="footer__heading">Travel beyond your imagination, with our Travel Agency!</h2>
        </div>
        <!-- Item 2 -->
        <div class="col-3">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link footer__link--title">Address</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">1080 Brickell Ave</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Miami - Florida</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">U.S. of America</a>
                </li>
                <li class="footer__item">
                    <ul class="footer__social">
                        <li class="footer__social-item">
                            <a
                                href="https://www.facebook.com/profile.php?id=100025157732629"
                                class="footer__social-link"
                            >
                                <img src="./assets/icons/facebook.svg" class="footer__social-img" alt="" />
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#!" class="footer__social-link">
                                <img src="./assets/icons/twiter.svg" class="footer__social-img" alt="" />
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#!" class="footer__social-link">
                                <img src="../assets/icons/youtube.svg" class="footer__social-img" alt="" />
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Item 3 -->
        <div class="col-3">
            <ul class="footer__contact">
                <li class="footer__item">
                    <a href="#!" class="footer__contact-link footer__contact-link--title">Contact</a>
                </li>
                <li class="footer__item">
                    <a href="mail:nvda003@gmail.com" class="footer__contact-link footer__contact-link--email"
                        >nvda003@gmail.com</a
                    >
                </li>
                <li class="footer__item">
                    <a href="tel:0985732825" class="footer__contact-link footer__contact-link--phone">+ 0985 732 825</a>
                </li>
            </ul>
        </div>
    </div>
</div>
